<div class="main-content">
    <div class="container-fluid">
        <div class="jumbotron">

            <app-table [title]="bankAccount.name"
                       [description]="bankAccount.number">

                <app-table-data #data
                                [config]="tableDataConfig"
                                [data]="bankAccount.transactions">
                </app-table-data>

                <app-table-header>
                    <app-table-pagination-entries [activeEntryNumber]="data.activeEntryNumber"
                                                  [entryNumbers]="data.entryNumbers"
                                                  (entryNumberChange)="data.handleEntryNumberChange($event)">
                    </app-table-pagination-entries>
                    <app-table-filter [filtersModel]="tableFiltersModel"
                                      [filters]="data.filters"
                                      (filtersChange)="data.handleFiltersChange($event)">
                    </app-table-filter>
                </app-table-header>

                <thead>
                <tr>
                    <th>Lp</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Merchant</th>
                    <th>Spent</th>
                    <th>Received</th>
                    <th>Balance</th>
                    <th>Type</th>
                </tr>
                </thead>

                <tbody class="counter">
                <tr *ngFor="let entries of data.entries; trackBy: trackByFn">
                    <td><span class="counter-item"></span></td>
                    <td>{{ entries.dateTime | date: 'd/M/yy, h:mm a' }}</td>
                    <td>{{ entries.description }}</td>
                    <td>{{ entries.merchantName }}</td>
                    <td *ngIf="entries.spent > 0">{{ entries.spent | currency:'GBP' }}</td>
                    <td *ngIf="entries.spent === 0"></td>
                    <td *ngIf="entries.received > 0">{{ entries.received | currency:'GBP' }}</td>
                    <td *ngIf="entries.received === 0"></td>
                    <td>{{ entries.accountBalance | currency:'GBP' }}</td>
                    <td>{{ entries.type }}</td>
                </tr>
                </tbody>

                <app-table-footer>
                    <app-table-pagination [displayedNumberOfEntries]="data.displayedNumberOfEntries"
                                          [numberOfEntries]="data.numberOfEntries"
                                          [firstPageNumber]="data.firstPageNumber"
                                          [lastPageNumber]="data.lastPageNumber"
                                          [activePageNumber]="data.activePageNumber"
                                          [pageNumbers]="data.pageNumbers"
                                          (pageNumberChange)="data.handlePageNumberChange($event)">
                    </app-table-pagination>
                </app-table-footer>

            </app-table>

        </div>
    </div>
</div>
